@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-donutool-text: #b6b7b7;
  --color-donutool-bg: #343d3f;
  --color-donutool-button: #57666a;
}

html,
body,
#root {
  width: 350px;
  height: 400px;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
